html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
}

.translate-logo-container {
  display: flex;
  justify-content: center;
  height: 7rem;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.translate-logo {
  font-size: 1.5rem;
}

.center {
  max-width: 700px;
  margin: auto;
}

.input-container {
  display: flex;
  justify-content: center;
}

.answer-input {
  height: 2rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
}

.each-words {
  height: 2rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
}

button {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  width: 100%;

  border: none;
  line-height: 3rem;
  border-radius: 6px;
  background-color: #5db7ffcc;
  cursor: pointer;
  color: white;
}

.page1 {
  font-size: 1.5rem;
}

.def {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
}

.question,
.results {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.status {
  font-weight: bold;
}

.range {
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.range-container {
  display: flex;
}

.congrats {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 20rem;
}
